In [1]:
import pandas as pd

from sklearn.preprocessing import LabelEncoder
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.preprocessing import MinMaxScaler, StandardScaler

import pickle 
import json

In [2]:
data = pd.read_csv('age_of_marriage_data.csv')
data.head()

,id,gender,height,religion,caste,mother_tongue,profession,location,country,age_of_marriage
0,1,female,"5'4""",NaN,others,Telugu,NaN,London,United Kingdom,21.0
1,2,male,"5'7""",Jain,Shwetamber,Gujarati,Doctor / Healthcare Professional,Fairfax- VA,USA,32.0
2,3,male,"5'7""",Hindu,Brahmin,Hindi,Entrepreneurs / Business,Begusarai,India,32.0
3,4,female,"5'0""",Hindu,Thakur,Hindi,Architect,Mumbai,India,30.0
4,5,male,"5'5""",Christian,Born Again,Malayalam,Sales Professional / Marketing,Sulthan Bathery,India,30.0

In [3]:
data.shape

(2567, 10)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2567 entries, 0 to 2566
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               2567 non-null   int64
 1   gender           2538 non-null   object
 2   height           2449 non-null   object
 3   religion         1932 non-null   object
 4   caste            2425 non-null   object
 5   mother_tongue    2403 non-null   object
 6   profession       2237 non-null   object
 7   location         2412 non-null   object
 8   country          2551 non-null   object
 9   age_of_marriage  2548 non-null   float64
dtypes: float64(1), int64(1), object(8)
memory usage: 200.7+ KB

In [5]:
data.isnull().sum()

id                   0
gender              29
height             118
religion           635
caste              142
mother_tongue      164
profession         330
location           155
country             16
age_of_marriage     19
dtype: int64

In [6]:
data['height_cms'] = data['height'].str.rstrip('"').str.split("'", expand=True) \
                            .astype(float).mul([30.48, 2.54]).sum(axis=1)

In [7]:
New_data = data.drop(["height","id","profession","location"],axis=1)
New_data

,gender,religion,caste,mother_tongue,country,age_of_marriage,height_cms
0,female,NaN,others,Telugu,United Kingdom,21.0,162.56
1,male,Jain,Shwetamber,Gujarati,USA,32.0,170.18
2,male,Hindu,Brahmin,Hindi,India,32.0,170.18
3,female,Hindu,Thakur,Hindi,India,30.0,152.40
4,male,Christian,Born Again,Malayalam,India,30.0,165.10
...,...,...,...,...,...,...,...
2562,female,Hindu,Thakur,Hindi,India,27.0,160.02
2563,male,Hindu,Thakur,Hindi,Canada,31.0,180.34
2564,female,Hindu,Baishya,Bengali,India,28.0,160.02
2565,female,NaN,others,Telugu,India,26.0,149.86
2566,female,Christian,Marthoma,Malayalam,India,32.0,157.48

In [8]:
New_data.dropna(inplace=True)

In [9]:
New_data.isna().sum()

gender             0
religion           0
caste              0
mother_tongue      0
country            0
age_of_marriage    0
height_cms         0
dtype: int64

In [10]:
New_data.dtypes

gender              object
religion            object
caste               object
mother_tongue       object
country             object
age_of_marriage    float64
height_cms         float64
dtype: object

In [11]:
# New_data["religion"].nunique()         # 5
# New_data["caste"].nunique()            # 41
# New_data["mother_tongue"].nunique()    # 27
# New_data["country"].nunique()          # 22

In [12]:
def Encoding(List):
    Dict = {}
    values = 0
    for keys in List:
        Dict[keys] = values
        values += 1
    print(Dict)

In [13]:
gender_encoding = New_data["gender"].unique().tolist()
Encoding(gender_encoding)

{'male': 0, 'female': 1}

In [14]:
New_data["gender"] = New_data["gender"].replace({'male': 0, 'female': 1})

In [15]:
religion_encoding = New_data["religion"].unique().tolist()
Encoding(religion_encoding)

{'Jain': 0, 'Hindu': 1, 'Christian': 2, 'Muslim': 3, 'Sikh': 4}

In [16]:
New_data["religion"] = New_data["religion"].replace({'Jain': 0, 'Hindu': 1, 'Christian': 2, 'Muslim': 3, 'Sikh': 4})

In [17]:
caste_encoding = New_data["caste"].unique().tolist()
Encoding(caste_encoding)

{' Shwetamber': 0, ' Brahmin': 1, ' Thakur': 2, ' Born Again': 3, ' Valmiki': 4, ' Rajput - Lodhi': 5, ' Bhatia': 6, ' Billava': 7, ' Vanniyar': 8, ' Agri': 9, ' Marthoma': 10, ' Ahom': 11, ' Baishnab': 12, ' Roman Catholic': 13, ' Lingayath': 14, ' Kalita': 15, ' Vaishnav': 16, ' Sahu': 17, ' Baishya': 18, ' Memon': 19, ' Agarwal': 20, ' Panchal': 21, ' Baidya': 22, ' Kaibarta': 23, ' Sindhi-Sakkhar': 24, ' Viswabrahmin': 25, ' Patel': 26, ' Scheduled Caste (SC)': 27, ' Kshatriya': 28, ' Ramdasia': 29, ' Khatri': 30, ' OBC - Barber/Naayee': 31, ' Baniya': 32, ' Goud': 33, ' Balija': 34, ' Arora': 35, ' Kayastha': 36, ' Gursikh': 37, ' Arya Vysya': 38, ' Bhandari': 39, ' Saini': 40}

In [18]:
New_data["caste"] = New_data["caste"].replace({' Shwetamber': 0, ' Brahmin': 1, ' Thakur': 2, ' Born Again': 3, 
                                               ' Valmiki': 4, ' Rajput - Lodhi': 5, ' Bhatia': 6, ' Billava': 7, 
                                               ' Vanniyar': 8, ' Agri': 9, ' Marthoma': 10, ' Ahom': 11, ' Baishnab': 12, 
                                               ' Roman Catholic': 13, ' Lingayath': 14, ' Kalita': 15, ' Vaishnav': 16, 
                                               ' Sahu': 17, ' Baishya': 18, ' Memon': 19, ' Agarwal': 20, ' Panchal': 21, 
                                               ' Baidya': 22, ' Kaibarta': 23, ' Sindhi-Sakkhar': 24, ' Viswabrahmin': 25,
                                               ' Patel': 26, ' Scheduled Caste (SC)': 27, ' Kshatriya': 28, ' Ramdasia': 29,
                                               ' Khatri': 30, ' OBC - Barber/Naayee': 31, ' Baniya': 32, ' Goud': 33,
                                               ' Balija': 34, ' Arora': 35, ' Kayastha': 36, ' Gursikh': 37, ' Arya Vysya': 38,
                                               ' Bhandari': 39, ' Saini': 40})

In [19]:
mother_tongue_encoding = New_data["mother_tongue"].unique().tolist()
Encoding(mother_tongue_encoding)

{'Gujarati': 0, 'Hindi': 1, 'Malayalam': 2, 'Punjabi': 3, 'Tulu': 4, 'Bengali': 5, 'Tamil': 6, 'Marathi': 7, 'Assamese': 8, 'Kannada': 9, 'Sindhi': 10, 'Telugu': 11, 'English': 12, 'Marwari': 13, 'Odia': 14, 'Konkani': 15, 'Chattisgarhi': 16, 'Kutchi': 17, 'Bhojpuri': 18, 'Urdu': 19, 'Nepali': 20, 'Haryanavi': 21, 'Other': 22, 'Rajasthani': 23, 'Manipuri': 24, 'Aka': 25, 'Kashmiri': 26}

In [20]:
New_data["mother_tongue"] = New_data["mother_tongue"].replace({'Gujarati': 0, 'Hindi': 1, 'Malayalam': 2, 'Punjabi': 3,
                                                               'Tulu': 4, 'Bengali': 5, 'Tamil': 6, 'Marathi': 7,
                                                               'Assamese': 8, 'Kannada': 9, 'Sindhi': 10, 'Telugu': 11,
                                                               'English': 12, 'Marwari': 13, 'Odia': 14, 'Konkani': 15,
                                                               'Chattisgarhi': 16, 'Kutchi': 17, 'Bhojpuri': 18, 'Urdu': 19,
                                                               'Nepali': 20, 'Haryanavi': 21, 'Other': 22, 'Rajasthani': 23,
                                                               'Manipuri': 24, 'Aka': 25, 'Kashmiri': 26})

In [21]:
country_encoding = New_data["country"].unique().tolist()
Encoding(country_encoding)

{' USA': 0, ' India': 1, ' Australia': 2, ' United Arab Emirates': 3, ' Canada': 4, ' Netherlands': 5, ' Qatar': 6, ' United Kingdom': 7, ' New Zealand': 8, ' Myanmar': 9, ' Malaysia': 10, ' Pakistan': 11, ' Bangladesh': 12, ' Kuwait': 13, ' Bahrain': 14, ' Ireland': 15, ' Oman': 16, ' Singapore': 17, ' Philippines': 18, ' Norway': 19, ' Germany': 20, ' South Africa': 21}

In [22]:
New_data["country"] = New_data["country"].replace({' USA': 0, ' India': 1, ' Australia': 2, ' United Arab Emirates': 3,
                                                   ' Canada': 4, ' Netherlands': 5, ' Qatar': 6, ' United Kingdom': 7,
                                                   ' New Zealand': 8, ' Myanmar': 9, ' Malaysia': 10, ' Pakistan': 11,
                                                   ' Bangladesh': 12, ' Kuwait': 13, ' Bahrain': 14, ' Ireland': 15,
                                                   ' Oman': 16, ' Singapore': 17, ' Philippines': 18, ' Norway': 19,
                                                   ' Germany': 20, ' South Africa': 21})

In [23]:
New_data

,gender,religion,caste,mother_tongue,country,age_of_marriage,height_cms
1,0,0,0,0,0,32.0,170.18
2,0,1,1,1,1,32.0,170.18
3,1,1,2,1,1,30.0,152.40
4,0,2,3,2,1,30.0,165.10
5,0,1,4,1,1,29.0,165.10
...,...,...,...,...,...,...,...
2561,0,1,28,14,1,30.0,180.34
2562,1,1,2,1,1,27.0,160.02
2563,0,1,2,1,4,31.0,180.34
2564,1,1,18,5,1,28.0,160.02
2566,1,2,10,2,1,32.0,157.48

In [24]:
X = New_data.drop("age_of_marriage",axis=1)
Y = New_data["age_of_marriage"]

In [25]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.2,random_state=45)

In [26]:
linear_model = LinearRegression() # GDA
linear_model.fit(x_train,y_train)

LinearRegression()

In [27]:
train_score = linear_model.score(x_train,y_train)
print(train_score)

test_score = linear_model.score(x_test,y_test)
print(test_score)

0.13250507949602275
0.1736903179773558

In [28]:
knn_model = KNeighborsRegressor()
knn_model.fit(x_train,y_train)  ## lazy learner

KNeighborsRegressor()

In [29]:
train_score = knn_model.score(x_train,y_train)
print(train_score)

test_score = knn_model.score(x_test,y_test)
print(test_score)

0.5720362204310105
0.3691130853460499

In [30]:
scaler = MinMaxScaler()
arr = scaler.fit_transform(X)
x_scale = pd.DataFrame(arr, columns = X.columns)
x_scale

      gender  religion  caste  mother_tongue   country  height_cms
0        0.0      0.00  0.000       0.000000  0.000000    0.451613
1        0.0      0.25  0.025       0.038462  0.047619    0.451613
2        1.0      0.25  0.050       0.038462  0.047619    0.225806
3        0.0      0.50  0.075       0.076923  0.047619    0.387097
4        0.0      0.25  0.100       0.038462  0.047619    0.387097
...      ...       ...    ...            ...       ...         ...
1927     0.0      0.25  0.700       0.538462  0.047619    0.580645
1928     1.0      0.25  0.050       0.038462  0.047619    0.322581
1929     0.0      0.25  0.050       0.038462  0.190476    0.580645
1930     1.0      0.25  0.450       0.192308  0.047619    0.322581
1931     1.0      0.50  0.250       0.076923  0.047619    0.290323

[1932 rows x 6 columns]

In [31]:
x_scale_train,x_scale_test, y_train, y_test = train_test_split(x_scale,Y, test_size=0.2, random_state=17)

In [32]:
knn_model = KNeighborsRegressor()
knn_model.fit(x_scale_train,y_train)  ## lazy learner

train_score = knn_model.score(x_scale_train,y_train)
print(train_score)

test_score = knn_model.score(x_scale_test,y_test)
print(test_score)

0.6690721701185272
0.4592713757568784

In [33]:
dict_file = {"Column_Names":X.columns.tolist(),
             "gender":{'male': 0, 'female': 1},
             "religion":{'Jain': 0, 'Hindu': 1, 'Christian': 2, 'Muslim': 3, 'Sikh': 4},
             "caste":{' Shwetamber': 0, ' Brahmin': 1, ' Thakur': 2, ' Born Again': 3,' Valmiki': 4, ' Rajput - Lodhi': 5,
                      ' Bhatia': 6, ' Billava': 7,' Vanniyar': 8, ' Agri': 9, ' Marthoma': 10, ' Ahom': 11, ' Baishnab': 12,
                      ' Roman Catholic': 13, ' Lingayath': 14, ' Kalita': 15, ' Vaishnav': 16,' Sahu': 17, ' Baishya': 18,
                      ' Memon': 19, ' Agarwal': 20, ' Panchal': 21,' Baidya': 22, ' Kaibarta': 23, ' Sindhi-Sakkhar': 24,
                      ' Viswabrahmin': 25,' Patel': 26, ' Scheduled Caste (SC)': 27, ' Kshatriya': 28, ' Ramdasia': 29,
                      ' Khatri': 30, ' OBC - Barber/Naayee': 31, ' Baniya': 32, ' Goud': 33,' Balija': 34, ' Arora': 35,
                      ' Kayastha': 36, ' Gursikh': 37, ' Arya Vysya': 38,' Bhandari': 39, ' Saini': 40},
             "mother_tongue":{'Gujarati': 0, 'Hindi': 1, 'Malayalam': 2, 'Punjabi': 3,'Tulu': 4, 'Bengali': 5, 'Tamil': 6,
                               'Marathi': 7,'Assamese': 8, 'Kannada': 9, 'Sindhi': 10, 'Telugu': 11,'English': 12, 
                               'Marwari': 13, 'Odia': 14, 'Konkani': 15,'Chattisgarhi': 16, 'Kutchi': 17, 'Bhojpuri': 18,
                               'Urdu': 19,'Nepali': 20, 'Haryanavi': 21, 'Other': 22, 'Rajasthani': 23,'Manipuri': 24,
                               'Aka': 25, 'Kashmiri': 26},
             "country":{' USA': 0, ' India': 1, ' Australia': 2, ' United Arab Emirates': 3,' Canada': 4, ' Netherlands': 5,
                        ' Qatar': 6, ' United Kingdom': 7,' New Zealand': 8, ' Myanmar': 9, ' Malaysia': 10, ' Pakistan': 11,
                        ' Bangladesh': 12, ' Kuwait': 13, ' Bahrain': 14, ' Ireland': 15,' Oman': 16, ' Singapore': 17,
                        ' Philippines': 18, ' Norway': 19,' Germany': 20, ' South Africa': 21}
            }

with open("dict_file.json","w") as file:
    json.dump(dict_file,file)

In [34]:
# gender="male"
# religion="Hindu"
# caste="Brahmin"
# mother_tongue="Marathi"
# country="India"
# height_cms=157.48

# user_data = np.zeros(len(X.columns))
# user_data[0] = gender
# user_data[1] = religion
# user_data[2] = caste
# user_data[3] = mother_tongue
# user_data[4] = country
# user_data[5] = height_cms      

# user_data_scale = scaler.transform([user_data])
# print(user_data_scale)

# result = knn_model.predict(user_data_scale)[0]
# result

In [35]:
# gender="male"               --> 0
# religion="Hindu"            --> 1
# caste="Brahmin"             --> 1
# mother_tongue="Marathi"     --> 7
# country="India"             --> 1
# height_cms=157.48           --> 157.48

In [36]:
user_data = np.array([0,1,1,7,1,157.48])

In [37]:
user_data_scale = scaler.transform([user_data])
print(user_data_scale)

result = knn_model.predict(user_data_scale)[0]
print(f"Age = {result}")

[[0.         0.25       0.025      0.26923077 0.04761905 0.29032258]]
Age = 32.2

C:\Users\Girish\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  warnings.warn(
C:\Users\Girish\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KNeighborsRegressor was fitted with feature names
  warnings.warn(

In [38]:
with open('scaler.pkl','wb') as file: 
    pickle.dump(scaler,file)

In [39]:
with open('marriage_age_model.pkl','wb') as file: 
    pickle.dump(knn_model,file)